.app{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}
.eduForm{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}
form{
    display: flex;
    flex-direction: column;
}

form input{
    width: 200px;
}

li{
    list-style: none;
    text-align: center;
}

#name{
    text-transform: capitalize;
    font-weight: bold;
}

#phone{
    font-style: italic;
}
h3{
    font-weight: bold;
    font-size: 15px;
    margin: 0;
    padding: 2px;
}
h4{
    font-size: 15px;
    padding: 2px;
    margin: 0;
    font-weight: 300;
}
#degree{
    font-style: italic;
}
.education{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

#year{
    text-align: end;
}